#about-section{
    margin:50px;
    padding: 50px;
    background-color: rgb(255, 254, 253);
    height:100%; 
}

div{
    margin:50px;
}

h2{
    text-align: center;
    color:rgb(230, 58, 58)
}

.para p{
    text-align: justifys;
    line-height: 1.6;
}